.app-mode-tabs {
  background-color: var(--dark-secondary);
  padding: 12px 15px;
  border-radius: 15px;
  display: flex;
  margin-bottom: 15px;
}

.app-mode-tabs .app-button {
  flex-grow: 1;
  flex-basis: 50%;
  padding: 4px 0;
}

.app-mode-tabs .app-button:first-of-type {
  margin-right: 6px;
}

.app-mode-tabs .app-button:last-of-type {
  margin-left: 6px;
}
