.wrapper {
  font-family: var(--font-family-main);
  border: 2px solid var(--button-border-color);
  border-radius: var(--button-border-radius);
  background-color: var(--background-accent-color);
  color: var(--text-main-color);
  font-size: 18px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.wrapper:hover {
  cursor: pointer;
}

.wrapper:active {
  transform: translateY(1px);
}

.wrapper--secondary {
  background-color: var(--background-dark-color);
}
