.wrapper {
  width: 213px;
  height: 360px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

@media screen and (min-height: 600px) {
  .wrapper {
    margin-top: 20px;
    height: 430px;
  }
}

@media screen and (min-height: 700px) {
  .wrapper {
    margin-top: 40px;
  }
}
