html,
body,
#root,
.app {
  height: 100%;
}

.app {
  background-color: var(--dark-primary);
  max-width: 375px;
  margin: 0 auto;
  padding: 20px 27px;
  padding-top: 30px;
  font-family: 'ArchitectsDaughter';
  display: flex;
  flex-direction: column;
}

.app-button {
  border: none;
  border-radius: 15px;
  color: black;
  background-color: white;
  font-size: 24px;
  font-family: 'ArchitectsDaughter';
}

.app-button:active {
  transform: translateY(1px);
}

.app-button--secondary {
  background-color: var(--accent-primary);
}
