html,
body,
#root,
.app {
  height: 100%;
}

.app {
  background-color: var(--dark-primary);

  /* max-width: 375px; */
  max-height: 700px;
  margin: 0 auto;
  padding: 20px 27px;
  padding-top: 30px;
  font-family: var(--font-family-main);
  display: flex;
  flex-direction: column;
}
