.wrapper {
  /* margin: 0 10px; */
}

.wrapper--expanded img {
  transform: rotate(180deg);
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  padding: 10px var(--padding-side);
  border: 1px solid transparent;
  border-radius: var(--list-item-border-radius);
  box-sizing: border-box;
}

.wrapper--has-checked .title {
  border-color: var(--background-accent-color);
}

.items {
  margin-top: 5px;
  margin-left: 20px;
}
