.wrapper {
  cursor: pointer;
}

.wrapper--expanded img {
  transform: rotate(180deg);
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  padding: 10px var(--padding-side);
  border-left: 2px solid transparent;
  box-sizing: border-box;
}

.wrapper--has-checked .title {
  border-color: var(--input-border-color);
}

.items {
  margin-top: 5px;
  margin-left: 20px;
}
