.wrapper {
  padding: 13px var(--padding-side);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 26px;
  color: white;
}

.back button {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back button img {
  height: 12px;
  transform: rotate(90deg);
}

.settings button {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
}
