.wrapper {
  padding: 13px calc(var(--padding-side) * 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 26px;
  color: white;
}

.settings button {
  height: 40px;
  width: 40px;
}
