html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  line-height: 1.3;
  font-family: var(--font-family-main);
  color: var(--text-main-color);
  overflow: auto;
  background-color: #2b0817;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  min-width: 320px;
  max-width: 450px;
  max-height: 850px;
  background-color: var(--background-dark-color);
  padding: 0 var(--padding-side);
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
