.wrapper {
  /* margin: 0 10px; */
}

.wrapper--expanded img {
  transform: rotate(180deg);
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  padding: 10px var(--padding-side);
}

.items {
  margin-top: 5px;
  margin-left: 20px;
}
